@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Cardo&family=Fraunces&family=Fredoka:wght@600&family=Hind+Madurai:wght@600&family=Hind+Siliguri&family=Inter:wght@400;600&family=Lato:wght@400;700&family=Lilita+One&family=Open+Sans&family=Poppins:wght@500&family=Roboto&family=Space+Mono&family=Yellowtail&display=swap");
.header {
  width: 1440px;
  height: 1150px;
  background-color: #313F38;
  margin: 0 auto;
}
.header .hero {
  width: 90% !important;
  margin: 0 auto;
}
.header .hero .navbar {
  height: 60px;
  margin: 0 auto;
}
.header .hero .navbar .p1 {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFCF6;
}
.header .hero .navbar .menu {
  display: flex;
  column-gap: 40px;
  margin: 0 auto;
}
.header .hero .navbar .menu p {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFCF6;
}
.header .hero .navbar .p2 {
  width: 135px;
  height: 20px;
  top: 2px;
  left: 1725px;
  color: #FFFCF6;
}
.header .hero .navbar .menu-icon {
  display: none;
}
.header .hero .home {
  width: 100%;
  height: 350px;
  margin: 0 auto;
}
.header .hero .home .img-butto {
  width: 60px;
  height: 60px;
  margin-top: 70px;
  margin-left: 50px;
}
.header .hero .home .bank {
  width: 55%;
  height: 250px;
  margin-top: 50px;
}
.header .hero .home .bank .bank-p {
  margin-top: 50px;
  margin-left: 15px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #FCD043;
}
.header .hero .home .since {
  width: 35%;
  height: 250px;
  margin-left: 100px;
  margin-top: 50px;
}
.header .hero .home .since .p3 {
  width: 350px;
  height: 78px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 252, 246, 0.7176470588);
}
.header .hero .home .since .ringtagle {
  width: 200px;
  height: 60px;
  border: 1px solid rgba(255, 252, 246, 0.2470588235);
  border-radius: 30px;
  margin: 50px;
  margin-left: -5px;
}
.header .hero .home .since .ringtagle img {
  margin-top: 15px;
  margin-left: 15px;
  width: 35px;
  height: 35px;
}
.header .hero .home .since .ringtagle p {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  color: #FFFCF6;
  margin-top: 15px;
  margin-left: 20px;
}
.header .hero .home .img-button {
  margin-left: 1200px;
  margin-top: -230px !important;
  width: 70px;
  height: 70px;
}
.header .check {
  width: 90% !important;
  height: 585px;
  margin: 0 auto !important;
  background-repeat: no-repeat;
  position: relative;
  background-image: url("/img/space-copenhagen-the-stratford-architonic-rs-8-03-arcit18 1.png");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: end;
}
.header .check .sign {
  width: 70%;
  height: 100px;
  margin: 0px;
}
.header .check .sign .checkin {
  width: 70%;
  height: 100%;
  background: rgba(49, 63, 56, 0.4784313725);
  margin: 0px;
  column-gap: 50px;
}
.header .check .sign .checkin .pp1 {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFCF6;
  margin-left: 50px;
  margin-top: 35px;
}
.header .check .sign .checkin .check-img {
  width: 20px;
  height: 15px;
  margin-top: 35px;
}
.header .check .sign .book {
  width: 30%;
  height: 100%;
  background: #FCD043;
}
.header .check .sign .book .pp3 {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
  margin-left: 70px;
  margin-top: 35px;
}
.header .check .button-check {
  display: none;
}
.header .art {
  width: 90%;
  height: 120px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.header .art .art1 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.header .art .art1 .art-text {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #FCD043;
  margin: 30px;
}
.header .art .art1 .art-text2 {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFCF6;
  margin-left: 30px;
}
.header .art .art2 {
  display: flex;
  align-items: center;
}
.header .art .art2 .art-text3 {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFCF6;
  margin-left: 550px;
  width: 150px;
}

@media screen and (max-width: 1024px) {
  .check {
    align-items: end !important;
  }
  .header {
    width: 1024px;
  }
  .art-text3 {
    margin-left: 350px !important;
  }
  .menu {
    display: none !important;
  }
  .p2 {
    display: none !important;
  }
  .sign {
    width: 80% !important;
  }
  .menu-icon {
    display: block !important;
  }
  .ringtagle {
    display: none !important;
  }
  .img-bankk {
    width: 500px;
    height: 100px;
  }
  .img-button {
    margin-left: 130px !important;
    margin-top: -20px !important;
    width: 30px;
    height: 30px;
  }
  .p3 {
    width: 200px !important;
    margin-top: -300px;
    margin-left: 550px;
  }
}
@media screen and (max-width: 376px) {
  .header {
    width: 375px !important;
    height: 1050px;
  }
  .img-bankk {
    width: 180% !important;
    height: 80px !important;
  }
  .p3 {
    margin-top: -100px;
    margin-left: -80px;
    text-align: center !important;
    width: 300px !important;
  }
  .button-check {
    padding: 30px !important;
    display: block !important;
  }
  .bank-p {
    width: 180% !important;
    font-size: 15px !important;
    margin-left: 20px !important;
  }
  .check {
    height: 500px !important;
  }
  .sign {
    display: none !important;
  }
  .img-button {
    display: none !important;
  }
  .art1 {
    display: none !important;
  }
  .art2 {
    margin-left: -100%;
  }
}
.gallery {
  width: 1440px;
  background: var(--primary-color, #313F38);
  height: 2130px;
  margin: 0 auto;
}

.span-resp {
  color: var(--white, #FFFCF6);
  font-family: Helvetica Neue LT Std;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  opacity: 0.8;
  margin-top: 323px;
  position: absolute;
  margin-left: 30px;
}

.star-label {
  margin-left: 655px;
  margin-top: 299px;
  position: absolute;
}

.our-h1 {
  color: var(--secondary-color, #FCD043);
  text-align: center;
  font-family: Miracle;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: 130px; /* 86.667% */
  text-transform: uppercase;
  margin-top: 458px;
  position: absolute;
  margin-left: 380px;
}

.pst-lvl {
  color: var(--white, #FFFCF6);
  text-align: center;
  font-family: Helvetica Neue LT Std;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  opacity: 0.8;
  margin-top: 738px;
  position: absolute;
  margin-left: 535px;
}

.room {
  margin-top: 549px;
}

.omg-p {
  width: 690px;
  height: 451px;
  margin-left: 355px;
  margin-top: 60px;
}

.stul {
  margin-left: 1126px;
  margin-top: -1200px;
}

.ye-ls {
  margin-left: 19px;
  margin-top: -280px;
}

.polg-7 {
  margin-left: 502px;
  margin-top: -40px;
}

.it-s {
  color: var(--white, #FFFCF6);
  font-family: Helvetica Neue LT Std;
  font-size: 22px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  opacity: 0.8;
  margin-left: 582px;
  margin-top: -50px;
}

.vann-n {
  margin-left: 995px;
}

.bast-lop {
  color: rgba(255, 252, 246, 0.12);
  font-family: Miracle;
  font-size: 120px;
  font-style: normal;
  font-weight: 400;
  line-height: 140px; /* 116.667% */
  margin-top: -100px;
}

@media (max-width: 1285px) {
  .star-label {
    width: 100.005px;
    height: 71.927px;
    flex-shrink: 0;
    margin-left: 700px;
  }
  .our-h1 {
    width: 749px;
    height: 105px;
    margin-left: 360px;
  }
  .omg-p {
    width: 690px;
    height: 451.965px;
    flex-shrink: 0;
    margin-top: 100px;
  }
  .pst-lvl {
    width: 450px;
    margin-top: 750px;
    margin-left: 500px;
  }
  .stul {
    width: 355px;
    height: 236.667px;
    flex-shrink: 0;
  }
  .vann-n {
    width: 335px;
    height: 214.763px;
    flex-shrink: 0;
  }
  .ye-ls {
    width: 241.439px;
    height: 300.846px;
    flex-shrink: 0;
  }
  .room {
    width: 355px;
    height: 227.585px;
    flex-shrink: 0;
  }
  .igm {
    display: none;
  }
}
@media (max-width: 1024px) {
  .star-label {
    width: 70px;
    height: 50.345px;
    flex-shrink: 0;
  }
  .our-h1 {
    width: 549px;
    height: 80px;
    margin-left: 470px;
    margin-top: 380px;
  }
  .pst-lvl {
    width: 350px;
    margin-top: 680px;
    margin-left: 590px;
  }
  .omg-p {
    width: 482px;
    height: 315.721px;
    flex-shrink: 0;
    margin-top: 120px;
  }
  .room {
    width: 299.493px;
    height: 192px;
    flex-shrink: 0;
  }
  .ye-ls {
    width: 126px;
    height: 171.041px;
    flex-shrink: 0;
  }
  .stul {
    width: 220.499px;
    height: 146.999px;
    flex-shrink: 0;
    margin-left: 1300px;
  }
  .vann-n {
    width: 251px;
    height: 160.912px;
    flex-shrink: 0;
    margin-left: 1200px;
  }
  .igm {
    display: none;
  }
}
@media (max-width: 375px) {
  .star-label {
    width: 50.345px;
    height: 70px;
    transform: rotate(-90deg);
    flex-shrink: 0;
    margin-left: 140px;
    margin-top: 370px;
  }
  .our-h1 {
    width: 200px !important;
    height: 120px !important;
    margin-left: 20px;
    margin-top: 460px;
    font-size: 70px;
  }
  .span-resp {
    display: none;
  }
  .room {
    width: 192px;
    height: 250px;
    flex-shrink: 0;
    margin-top: 1000px;
  }
  .ye-ls {
    width: 152px;
    height: 206.335px;
    flex-shrink: 0;
    justify-content: start;
    align-items: start;
    display: none;
  }
  .bast-lop {
    display: none;
  }
  .pst-lvl {
    width: 354px;
    margin-left: 0;
    font-size: 20px;
    margin-top: 740px;
  }
  .vann-n {
    width: 123px;
    height: 123px;
    flex-shrink: 0;
    margin-left: 220px;
    margin-top: -450px;
  }
  .omg-p {
    display: none;
  }
  .polg-7 {
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    margin-left: 10px;
    margin-top: 60px;
  }
  .it-s {
    margin-left: 50px;
    margin-top: -50px;
  }
}

/*# sourceMappingURL=main.css.map */
