@font-face {
    font-family: Miracle;
    src: url(/font/Miracle\ Personal\ use.otf);
  }
  
  @font-face {
    font-family: Arial, Helvetica, sans-serif;
    src: url(/font/helvet.otf);
  }
.conference{
    width: 100%;
    display: flex;
    flex-direction: column;
    column-gap: 10%;
}
.block{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 60px;
    align-items: center;
    border-bottom: 1px dotted black;
    height:334px; 
    .img-div{
        width: 20%;
    }
    .space{
        display: none;
    }
    .block-img{
        width: 100%;
        // height: 30%;
    }
    .block-name{
        font-size: 50px;
        font-family: Miracle;
    }
    .block-number{
        font-size: 50px;
        font-family: Miracle;

    }
}
@media only screen and (max-width: 1024px) {
    .block{
        height: 210px;
        
    .block-name{
        font-size: 36px;
        font-family: Miracle;

    }
    .block-number{
        font-size: 36px;
        font-family: Miracle;

    }
    }


}
@media only screen and (max-width: 400px) {
    .block{
        height: 250px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        padding: 0;
        margin-bottom: 50px;
        .space{
            display: block;
            width: 10%;
        }
        .block-img{
            width: 40%;
        }
        .img-div{
            width: 80%;
            display: flex;
            justify-content: center;
            .block-img{
                width: 60%;
            }
        }
        .div{
            width: 10%;
            display: flex;
            justify-content: flex-end;
        }
        .block-name{
            display: block;
            margin-top: 10px;
        font-family: Miracle;

        }
        .arrow{
            display: none;
        }
        
    .block-name{
        font-size: 24px;
    }
    .block-number{
        font-size: 24px;
        font-family: Miracle;

    }
    }
  }